:root {
    --text: #fcf7f2;
    --optionbackground: #44475A;
    --background: #282a36;
    --accent: #c0c2d9;
    --settingsoverlay: #44475A;
    --card: #787b90;
    --deleteitem: rgb(0,0,0);
    --optionitem: #787b90;
    --safetext: #fcf7f2;
    --optioncolor: #787b90;
}
body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Work Sans', sans-serif;
    margin: 5vw;
    margin-top: 30px;
}
h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
}
.card {
    background-color: var(--card);
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}
.optioncolor {
    background-color: var(--optioncolor);
    margin-bottom: 15px;
}
.link {
    text-decoration: underline;
}
.link:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
    cursor: pointer;
}
.toolbar {
    position: absolute;
    top: 10%;
}
.containerSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.optionContainer {
    display: flex;
    width: 90vw;
    background-color: var(--optionbackground);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.vertcenter {
    display: flex; justify-content: center; align-items: center;
}
.column {
    flex-direction: column;
}
.optionId {
    background-color: var(--optionitem);
    padding: 8px;
    border-radius: 8px;
    margin: 2px;
}
.marginRight {
    margin-right: 30px;
}
.imgTool {
    height: 30px;
    width: 30px;
}
.optionId:hover {
    cursor: pointer;
}
.optionId:hover > img {
    animation-name: brightnessToolAnimate;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}
.clickImg > img {
    -webkit-filter: brightness(170%);
    filter: brightness(170%);
}
.clickImg {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
}
.displayCanvas {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: auto;
}
.columnflex {
    display: flex;
    flex-direction: column;
}
.pointer:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='40' viewport='0 0 100 100' style='fill:black'><circle cx='20' cy='20' r='15'/></svg>") 35 35, auto;
}
.pageBackground {
    background-color: var(--card);
    margin-top: 25px;
    padding: 25px;
    border-radius: 8px;
}
.dropdown {
    -webkit-backdrop-filter: blur(14px) brightness(35%);
    backdrop-filter: blur(14px) brightness(35%);
    position: absolute;
    z-index: 99999;
    padding: 5vw;
    border-radius: 8px;
    transition: opacity 0.3s animate__backOutUp;
    padding-top: 3vw;
}
.dropdownItem {
    padding: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 2px;
}
.dropdownItem:hover > l {
    color: var(--accent);
    cursor: pointer
}
input[type=number], input[type=text] {
    border-radius: 8px;
    background-color: var(--optionbackground);
    color: white;
    font-family: 'Work Sans', sans-serif;
    padding: 8px;
    border: 2px var(--background) solid;
}
input::placeholder {
    color:    #ffffff !important;
  }
.closeBtn {
    text-align: right;
    margin-bottom: 25px;
}
.closeBtn:hover {
    cursor: pointer;
}
.opacityRemove {
    transition: opacity 0.35s ease-in-out;
}
.alert {
    position: absolute;
    top: 30px;
    text-align: center;
    z-index: 999999;
    background-color: var(--card);
    padding: 15px;
    width: 65vw;
    border-radius: 10px;
}
.dialog {
    position: absolute;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    border-radius: 8px;
}
.settingsMax {
    z-index: 9999999;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: var(--settingsoverlay);
    height: 60vh;

}
.maxWidth {
    width: 100vw;
}
.intro {
    max-height: 70vh; padding: 5vw; border-radius: 16px; display: block;
}
.colorContainer {
    background-color: var(--optionbackground);
    width: 90%;
    height: 25px;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;
}
video {
    max-width: 70%; margin: auto
}
@keyframes deleteItems {
    from {background-color: var(--optionbackground);}
    to {background-color: var(--deleteitem);}
  }
  .runAnimation {
    animation-name: deleteItems;
  animation-duration: 1s;
  }
  @keyframes changeColor1 {
    from {background-color: rgb(80,79,99);}
    to {background-color: rgb(42,25,9);}
  }
  .animateFirstIntroduction {
    animation-name: changeColor1;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  }
  @keyframes changeColor2 {
    from {background-color: rgb(42,25,9);}
    to {background-color: rgb(28,27,31);}
  }
  .animateSecondIntroduction {
    animation-name: changeColor2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  }

.colorShow {
    border-radius: 50%;
    background-color: blueviolet;
    height: 25px;
    width: 25px;
    animation: top 1s ease-out;
}
.colorShow > img {
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.containerItemsAnimation:hover > div > div > img {
    opacity: 1;
}
.dropdownLabel {
    color: var(--safetext)
}
.containerPhotoAdd {
    animation-name: brightnessAnimate;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    -webkit-filter: brightness(200%);
    filter: brightness(200%);

}
.containerPhotoRemove {
    animation-name: brightnessAnimateMinus;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}
.fullcontainer {
    height: 70vh;
    float:  left;
    width: 10vw;
    flex-direction: column;
    margin:0px auto;
}
a {
    color: var(--text);
}
a:active {
    color: var(--text)
}
a:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}
.button {
    background-color: var(--optionbackground);
    max-width: 350px;
}
.licenseDiv {
    background-color: var(--optionbackground);
    padding: 25px;
    border-radius: 8px;
}
li {
    margin-bottom: 10px;
}
.themeDiv {
    margin: 15px; border: black 1px solid; padding: 10px;
}
@keyframes brightnessAnimate {
    from {filter: brightness(100%); -webkit-filter: brightness(100%);}
    to {filter: brightness(200%); -webkit-filter: brightness(200%);}
  }
  @keyframes brightnessAnimateMinus {
    from {filter: brightness(200%); -webkit-filter: brightness(200%); }
    to {filter: brightness(100%); -webkit-filter: brightness(100%);}
  }
  @keyframes brightnessToolAnimate {
    from {filter: brightness(100%); -webkit-filter: brightness(100%); }
    to {filter: brightness(150%); -webkit-filter: brightness(150%);}
  }
  @keyframes brightnessToolAnimateBack {
    from {filter: brightness(150%); -webkit-filter: brightness(150%); }
    to {filter: brightness(100%); -webkit-filter: brightness(100%);}
  }
  .dropNotice {
    border: 3px var(--accent) dashed
  }
  .closeAnimationTool {
    animation-name: brightnessToolAnimateBack;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  .btnTourAnimate {
    animation-name: brightnessToolAnimate;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
  }
  .rotateAnimation {
    animation-name: rotateAnimate;
    animation-duration: 0.35s;
    animation-iteration-count: infinite;
  }
  @keyframes rotateAnimate {
    0% {transform: rotate(15deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(-15deg)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(15deg)}
  }
  @keyframes buttonHoverStart {
    from {background-color: var(--optionbackground);}
    to {background-color: var(--accent);}
  }
  @keyframes buttonHoverEnd {
    from {background-color: var(--accent);}
    to {background-color: var(--optionbackground);}
  }
  .hoverStart {
    animation-name: buttonHoverStart;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    background-color: var(--accent);
  }
  .hoverEnd {
    animation-name: buttonHoverEnd;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    background-color: var(--optionbackground);
  }
.noshow {
    font-size: 0.85em
}